{* Layout for a subpage from the "Packages" menu *}
{layout ../Layout.latte}
{import ../MenuItem.latte}
{var $mainMenuRoute = 'packagesList'}
{block subMenu}
    {include menuItem, $subMenuRoute, 'packagesList', translate('Overview')}
    {include menuItem, $subMenuRoute, 'packageBuildPage', translate('Build')}
{/block}
