parameters:
    level: 1
    paths:
        - development
        - module
        - public
        - src
        - tests
    ignoreErrors:
        -
            # Undetectable magic methods for controller plugins
            identifier: method.notFound
            path: module/Console/Controller/
        -
            # False positives for $this in view scripts
            identifier: variable.undefined
            path: module/Console/views/
