<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    beStrictAboutCoverageMetadata="true"
    failOnAllIssues="true"
    displayDetailsOnAllIssues="true"
    bootstrap="development/phpunit-bootstrap.php"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <php>
    <ini name = "zend.assertions" value="1" />
  </php>
</phpunit>
