# Static Apache configuration that is independent of the environment and not to
# be modified by the end user
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.


RewriteEngine On

# If the requested path resolves to an existing file (-f) within this directory,
# serve it directly and stop rewriting. The -d condition is required to match
# the current directory itself.
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]

# Some black magic to extract the base path to the BASE variable, which is
# required for paths affected by an Alias directive.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

# Force all requests not matched by the first rule (i.e. nonexisting paths) to
# invoke index.php
RewriteRule ^(.*)$ %{ENV:BASE}index.php [L]
