# Sample agent whitelist file.
# This is only needed if you use non-OCS agents, like FusionInventory agent.
# In the administration console, go to Preferences->Agent and enter the path to
# this file.
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved. This file is offered as-is,
# without any warranty.
#

# Allow FusionInventory agent, http://fusioninventory.org
# Each version must be given separately.
FusionInventory-Agent_v2.2.7

# Add other agents here
