<?xml version="1.0" encoding="UTF-8"?>
<!--
PHPUnit configuration file

Copyright (C) 2011-2022 Holger Schletz <holger.schletz@web.de>

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="Test/bootstrap.php"
    convertDeprecationsToExceptions="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory>Test</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Model">
      <directory>Test</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="BRAINTACLE_TEST_DATABASE" value="{&quot;driver&quot; : &quot;Pdo_Sqlite&quot;}"/>
  </php>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
  </listeners>
</phpunit>
