{define menuItem, string $activeRoute, string $routeName, string $label}
    <li class={[active: $routeName == $activeRoute]}>
        <a href="{pathForRoute($routeName)}">{$label}</a>
    </li>
{/define}
